__pycache__/
venv
dist
.mypy_cache
.pytest_cache
.idea
.postgres
local.env
*.env
/logfile
GIT_SHA
build
database
*.db
.DS_Store
.vscode
.python-version
.coverage
.vscode
.coverage
.python-version
.history
local

# claude
.claude
CLAUDE.md
