# common
LOG_LEVEL=INFO
# Uncomment and provide value
#VAULT_CONTRACT_ADDRESS=<vault_contract_address>

# connections
EXECUTION_ENDPOINT=http://execution-node:8545
CONSENSUS_ENDPOINT=http://consensus-node:5052

# keystores
# Uncomment and provide values
#KEYSTORES_PASSWORD_PATH=<path_to_keystores_password_file>
#KEYSTORES_PATH=<path_to_keystores_directory>

# postgres
POSTGRES_DB=operator
POSTGRES_USER=operator
# Uncomment and generate secure password
#POSTGRES_PASSWORD=<postgres_password>

# operator
# Uncomment and provide values
#OPERATOR_PRIVATE_KEY=<operator_private_key>

# network
NETWORK=goerli
