name: Release

permissions:
  contents: write

on:
  push:
    tags:
      - "v*.*.*"
      - "v*.*.*.*"

jobs:
  checks:
    name: Check version
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12.8

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v8
        with:
          poetry-version: "1.8.3"

      - name: Check project version matches tag name
        run: |
          [ "`poetry version --short`" == "${{ github.ref_name }}" ]

  build:
    runs-on: ${{ matrix.OS }}
    strategy:
      matrix:
        include:
          - OS: ubuntu-24.04
            PYTHON_VERSION: 3.12.8
            BUILD_CMD: |
              set -e
              set -x
              export PYTHONHASHSEED=42
              export BUILD_FILE_NAME=operator-${RELEASE_VERSION}-ubuntu-24.04-amd64;
              mkdir ${BUILD_FILE_NAME};
              git rev-parse --short HEAD > GIT_SHA
              poetry run pyinstaller \
                --distpath ./${BUILD_FILE_NAME} \
                ./operator.spec;
              ./${BUILD_FILE_NAME}/operator --help;
              tar -zcvf ${BUILD_FILE_NAME}.tar.gz ${BUILD_FILE_NAME};
              mkdir /tmp/artifacts;
              cp ${BUILD_FILE_NAME}.tar.gz /tmp/artifacts;
              sha256sum ${BUILD_FILE_NAME}.tar.gz | head -c 64 > /tmp/artifacts/${BUILD_FILE_NAME}.sha256;

          - OS: ubuntu-22.04
            PYTHON_VERSION: 3.12.8
            BUILD_CMD: |
              set -e
              set -x
              export PYTHONHASHSEED=42
              export BUILD_FILE_NAME=operator-${RELEASE_VERSION}-ubuntu-22.04-amd64;
              mkdir ${BUILD_FILE_NAME};
              git rev-parse --short HEAD > GIT_SHA
              poetry run pyinstaller \
                --distpath ./${BUILD_FILE_NAME} \
                ./operator.spec;
              ./${BUILD_FILE_NAME}/operator --help;
              tar -zcvf ${BUILD_FILE_NAME}.tar.gz ${BUILD_FILE_NAME};
              mkdir /tmp/artifacts;
              cp ${BUILD_FILE_NAME}.tar.gz /tmp/artifacts;
              sha256sum ${BUILD_FILE_NAME}.tar.gz | head -c 64 > /tmp/artifacts/${BUILD_FILE_NAME}.sha256;

          - OS: ubuntu-24.04-arm
            PYTHON_VERSION: 3.12.8
            BUILD_CMD: |
              set -e
              set -x
              export PYTHONHASHSEED=42
              export BUILD_FILE_NAME=operator-${RELEASE_VERSION}-ubuntu-24.04-arm64;
              mkdir ${BUILD_FILE_NAME};
              git rev-parse --short HEAD > GIT_SHA
              poetry run pyinstaller \
                --distpath ./${BUILD_FILE_NAME} \
                ./operator.spec;
              ./${BUILD_FILE_NAME} --help;
              tar -zcvf ${BUILD_FILE_NAME}.tar.gz ${BUILD_FILE_NAME};
              rm -rf /tmp/artifacts;
              mkdir /tmp/artifacts;
              cp ${BUILD_FILE_NAME}.tar.gz /tmp/artifacts;
              sha256sum ${BUILD_FILE_NAME}.tar.gz | head -c 64 > /tmp/artifacts/${BUILD_FILE_NAME}.sha256;

          - OS: ubuntu-22.04-arm
            PYTHON_VERSION: 3.12.8
            BUILD_CMD: |
              set -e
              set -x
              export PYTHONHASHSEED=42
              export BUILD_FILE_NAME=operator-${RELEASE_VERSION}-ubuntu-22.04-arm64;
              mkdir ${BUILD_FILE_NAME};
              git rev-parse --short HEAD > GIT_SHA
              poetry run pyinstaller \
                --distpath ./${BUILD_FILE_NAME} \
                ./operator.spec;
              ./${BUILD_FILE_NAME}/operator --help;
              tar -zcvf ${BUILD_FILE_NAME}.tar.gz ${BUILD_FILE_NAME};
              rm -rf /tmp/artifacts;
              mkdir /tmp/artifacts;
              cp ${BUILD_FILE_NAME}.tar.gz /tmp/artifacts;
              sha256sum ${BUILD_FILE_NAME}.tar.gz | head -c 64 > /tmp/artifacts/${BUILD_FILE_NAME}.sha256;

          - OS: macos-14
            PYTHON_VERSION: 3.12.8
            BUILD_CMD: |
              set -e
              set -x
              export PYTHONHASHSEED=42
              export BUILD_FILE_NAME=operator-${RELEASE_VERSION}-darwin-arm64;
              mkdir ${BUILD_FILE_NAME};
              git rev-parse --short HEAD > GIT_SHA
              poetry run pyinstaller \
                --distpath ./${BUILD_FILE_NAME} \
                ./operator.spec;
              ./${BUILD_FILE_NAME}/operator --help;
              tar -zcvf ${BUILD_FILE_NAME}.tar.gz ${BUILD_FILE_NAME};
              mkdir /tmp/artifacts || true;
              cp -f ${BUILD_FILE_NAME}.tar.gz /tmp/artifacts;
              shasum -a 256 ${BUILD_FILE_NAME}.tar.gz | head -c 64 > /tmp/artifacts/${BUILD_FILE_NAME}.sha256

          - OS: windows-latest
            PYTHON_VERSION: 3.12.8
            BUILD_CMD: |
              $ErrorActionPreference = "Stop"
              $RELEASE_VERSION = $env:GITHUB_REF.replace('refs/tags/', '')
              $BUILD_FILE_NAME = "operator-" + $RELEASE_VERSION + "-windows-amd64"
              $BUILD_FILE_NAME_PATH = ".\" + $BUILD_FILE_NAME
              git rev-parse --short HEAD > GIT_SHA
              poetry run pyinstaller `
                --distpath ./${BUILD_FILE_NAME} `
                ./operator.spec;
              ./${BUILD_FILE_NAME}/operator --help;
              $ZIP_FILE_NAME = $BUILD_FILE_NAME + ".zip"
              Compress-Archive -Path $BUILD_FILE_NAME_PATH -DestinationPath $ZIP_FILE_NAME
              mkdir \tmp\artifacts
              copy $ZIP_FILE_NAME \tmp\artifacts\
              $CHECKSUM_FILE_NAME_PASH = "\tmp\artifacts\"  + $BUILD_FILE_NAME + ".sha256"
              certUtil -hashfile $ZIP_FILE_NAME SHA256 | findstr /i /v "SHA256" | findstr /i /v "CertUtil" > $CHECKSUM_FILE_NAME_PASH

    steps:
      - uses: actions/checkout@v4

      - name: Install build dependencies for Linux
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y build-essential curl libpq-dev postgresql-client
        if: matrix.os == 'ubuntu-24.04-arm' || matrix.os == 'ubuntu-22.04-arm'

      - name: Install build dependencies for MacOS
        run: |
          brew install libpq
          brew link --force libpq
          brew install openssl@3.0
        if: matrix.os == 'macos-14'

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}

      - name: Install Poetry
        uses: Gr1N/setup-poetry@v8
        with:
          poetry-version: "1.8.3"

      - name: Install dependencies
        run: poetry install --with build --without dev --no-interaction --no-root
        env:
          # For building psycopg on MacOS
          # Required the the same version of openssl as the one used by the Python installation
          LDFLAGS: "-L/opt/homebrew/opt/openssl@3.0/lib"
          CPPFLAGS: "-I/opt/homebrew/opt/openssl@3.0/include"

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: Build executable for ${{ matrix.OS }}
        env:
          RELEASE_VERSION: ${{ steps.get_version.outputs.VERSION }}
        run: ${{ matrix.BUILD_CMD }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.OS }}
          path: /tmp/artifacts/*
          if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: /tmp/artifacts

      - name: Display structure of downloaded files
        run: ls -R
        working-directory: /tmp/artifacts

      - name: Get the version
        id: get_version
        run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          fail_on_unmatched_files: true
          files: |
            /tmp/artifacts/ubuntu-22.04/operator-${{ steps.get_version.outputs.VERSION }}-ubuntu-22.04-amd64.tar.gz
            /tmp/artifacts/ubuntu-22.04/operator-${{ steps.get_version.outputs.VERSION }}-ubuntu-22.04-amd64.sha256
            /tmp/artifacts/ubuntu-22.04-arm/operator-${{ steps.get_version.outputs.VERSION }}-ubuntu-22.04-arm64.tar.gz
            /tmp/artifacts/ubuntu-22.04-arm/operator-${{ steps.get_version.outputs.VERSION }}-ubuntu-22.04-arm64.sha256
            /tmp/artifacts/ubuntu-24.04/operator-${{ steps.get_version.outputs.VERSION }}-ubuntu-24.04-amd64.tar.gz
            /tmp/artifacts/ubuntu-24.04/operator-${{ steps.get_version.outputs.VERSION }}-ubuntu-24.04-amd64.sha256
            /tmp/artifacts/ubuntu-24.04-arm/operator-${{ steps.get_version.outputs.VERSION }}-ubuntu-24.04-arm64.tar.gz
            /tmp/artifacts/ubuntu-24.04-arm/operator-${{ steps.get_version.outputs.VERSION }}-ubuntu-24.04-arm64.sha256
            /tmp/artifacts/macos-14/operator-${{ steps.get_version.outputs.VERSION }}-darwin-arm64.tar.gz
            /tmp/artifacts/macos-14/operator-${{ steps.get_version.outputs.VERSION }}-darwin-arm64.sha256
            /tmp/artifacts/windows-latest/operator-${{ steps.get_version.outputs.VERSION }}-windows-amd64.zip
            /tmp/artifacts/windows-latest/operator-${{ steps.get_version.outputs.VERSION }}-windows-amd64.sha256
